# Will not sync these

/.venv/
/.git/
__pycache__/
~*

# Binary files - keep out of repo, store on Google Drive instead
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.mov
*.mp4
*.zip
*.stl

# will sync .gitiginore 
!/.gitignore
/.idea
/.mypy_cache